
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    font-family: 'Bitter', serif;
}

h1{
    font-size: 35px;
    text-align: center;
}

.tabor__box{
    margin: 20px auto;
    padding: 20px;

    width: 500px;

    border-radius: 5px;

    background-color: cadetblue;
}

.line__p{
    margin: 0;
    padding: 10px;
}

.delitko{
    color: whitesmoke;
}

.button__align{
    text-align: center;
}
.button__one{
    margin: 0;
    padding: 10px;
    text-align: center;

    font-size: 20px;

    border-radius: 5px;

    background-color: indianred;
}

.udaje{
    margin-bottom: 0;
    text-align: center;

    font-size: 30px;
}